flake8>=3.9.2,<3.10
    # flake8-bugbear>=21.4,<22
    # flake8-builtins>=1.4,<1.5
    # flake8-comprehensions>=3.5,<4
    # flake8-docstrings>=1.6,<1.7
    # flake8-eradicate>=2.0,<3
    # flake8-isort>=4.0,<5
    # flake8-quotes>=3.2,<4